
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DAGAGA_itemlist</title>
    <link rel="stylesheet" th:href="@{/fontawesome/css/all.min.css}"
          href="fontawesome/css/all.min.css" />
    <!-- https://fontawesome.com/ -->
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap"
      rel="stylesheet"
    />
    <!-- https://fonts.google.com/ -->
    <link th:href="@{/css/bootstrap.min.css}" href="css/bootstrap.min.css" rel="stylesheet" />
    <link th:href="@{/css/templatemo-xtra-blog.css}" href="css/templatemo-xtra-blog.css" rel="stylesheet" />

    <style>
      .member-login {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <header class="tm-header" id="tm-header">
      <div class="tm-header-wrapper">
        <button
          class="navbar-toggler"
          type="button"
          aria-label="Toggle navigation"
        >
          <i class="fas fa-bars"></i>
        </button>
        <div class="tm-site-header">
          <div class="mb-3 mx-auto tm-site-logo">
            <img src="img/donga.jpg" alt="Image" class="img-fluid" />
          </div>
          <h1 class="text-center">DAGAGA</h1>
          <div class="member-login"
               th:if="${member != null}"
               th:text="|${member.nickName}님 환영합니다.|"></div>
        </div>
        <nav class="tm-nav" id="tm-nav">
          <ul>
            <li class="tm-nav-item">
              <a th:href="@{/}" href="main.html" class="tm-nav-link">
                <i class="fas fa-home"></i>
                HOME
              </a>
            </li>
            <li class="tm-nav-item">
              <a th:href="@{/posts}" href="postList.html" class="tm-nav-link">
                <i class="fas fa-pen"></i>
                Post List
              </a>
            </li>
            <li class="tm-nav-item active">
              <a th:href="@{/items}" href="itemList.html" class="tm-nav-link">
                <i class="fas fa-solid fa-tags"></i>
                Item List
              </a>
            </li>
            <li class="tm-nav-item">
              <a th:href="@{/my-page}" href="myPage.html" class="tm-nav-link">
              <i class="fas fa-id-card"></i>
              My Page
          </a></li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="container-fluid">
      <main class="tm-main">
        <div class ="container-login">
          <a th:if="${member == null}" th:href="@{/login}" href="login.html">login</a>
          <a th:if="${member != null}" th:href="@{/logout}">logout</a>
        </div>
        <!-- Search form -->
        <div class="row tm-row">
          <div class="col-12">
            <form method="GET" class="form-inline tm-mb-80 tm-search-form">
              <input
                class="form-control tm-search-input"
                name="query"
                type="text"
                placeholder="Search..."
                aria-label="Search"
              />
              <button class="tm-search-button" type="submit">
                <i class="fas fa-search tm-search-icon" aria-hidden="true"></i>
              </button>
            </form>
          </div>
        </div>
        <hr />
        <div class="priceselectbox">
        <form>
          <span>가격</span>
          <select name="priceselect">
            <option value="1">오름차순</option>
            <option value="2">내림차순</option>
          </select>
        </form>
      </div>
        <table class="styled-table">
          <thead>
              <tr>
                  <th>번호</th>
                  <th>물품이름</th>
                  <th>가격</th>
              </tr>
          </thead>
          <tbody>
              <tr th:each="item : ${items}">
                  <td th:text="${item.id}"></td>
                  <td th:text="${item.name}"></td>
                  <td th:text="${item.price}"></td>
              </tr>
              
          </tbody>
      </table>
      <button style='width:80px;float: right;'class="writingicon">
        <a href="write.html">글쓰기</a>
      </button>
        <div class="row tm-row tm-mt-100 tm-mb-75">
          <div class="tm-prev-next-wrapper">
            <a
              href="#"
              class="mb-2 tm-btn tm-btn-primary tm-prev-next disabled tm-mr-20"
            >
              Prev
            </a>
            <a href="#" class="mb-2 tm-btn tm-btn-primary tm-prev-next">Next</a>
          </div>
          <div class="tm-paging-wrapper">
            <span class="d-inline-block mr-3">Page</span>
            <nav class="tm-paging-nav d-inline-block">
              <ul>
                <li class="tm-paging-item active" th:each="i : ${#numbers.sequence(0, page - 1)}">
                  <a th:text="${i+1}" th:href="@{/items(page=${i})}"
                          href="#" class="mb-2 tm-btn tm-paging-link">1</a>
                </li>
                
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <hr />
        <footer class="row tm-row">
          <div class="col-md-6 col-12 tm-color-gray">
              Dragonball
            </a>
          </div>
          <div class="col-md-6 col-12 tm-color-gray tm-copyright">
            www.DAGAGA
          </div>
        </footer>
      </main>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/templatemo-script.js"></script>
  </body>
</html>